@import url(http://fonts.googleapis.com/css?family=Norican);
@import url(http://fonts.googleapis.com/css?family=Cinzel:400,700,900);

body {
    background-color: #102E34;
    font-size: 14px;
}

.norican {
    font-family: 'Norican', cursive;
}

.cinzel {
    font-family: 'Cinzel', serif;
}

.yellow-dark {
    color: #ADB61D;
}

.yellow-light {
    color: #D8E240;
}

.small {
    font-size: 20px;
}

.medium {
    font-size: 30px;
}

.large {
    font-size: 40px;
}

.xlarge {
    font-size: 50px;
}

.center {
    text-align: center;
}

#hello-container {
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 7px double #ADB61D;
    animation: fadeIn 5s;
    -webkit-animation: fadeIn 5s;
    -moz-animation: fadeIn 5s;
    -o-animation: fadeIn 5s;
}

#hello { 
    letter-spacing: 8px;
}

#kadozkreaccion {
    padding-top: 50px;
    padding-bottom: 20px;
}

#skills {
    /*line-height: 50px;*/
    /*border: 2px dotted #ADB61D;*/
    margin-top: 60px;
    margin-bottom: 40px;
    animation: fadeIn 6s linear 1.5s both;
    -webkit-animation: fadeIn 6s linear 1.5s both;
    -moz-animation: fadeIn 6s linear 1.5s both;
    -o-animation: fadeIn 6s linear 1.5s both;
}

#sns {
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 7px double #ADB61D;
    animation: fadeIn 9s linear 1.5s both;
    -webkit-animation: fadeIn 9s linear 1.5s both;
    -moz-animation: fadeIn 9s linear 1.5s both;
    -o-animation: fadeIn 9s linear 1.5s both;

}



/*DEFINED ANIMATIONS*/
@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
@-webkit-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
@-moz-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
@-o-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

